<div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light text-center">
        Gifs-App
    </h3>
    <hr class="text-white">
    <div>
        <button 
            class="btn btn-dark"
            (click)="borrarHistorial()"
        >
            Limpiar historial
        </button>
    </div>
    <div class="btn-group-vertical btn-group-lg">
        <button 
            *ngFor="let item of historial"
            class="btn btn-primary"
            (click)="buscar(item)"
        >
            {{ item | titlecase }}
        </button>
    </div>
</div>